{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AiBotpartner--Coming Soon</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{% static 'css/soon.css' %}">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="title">
        <h1>COMING<br/>SOON</h1>

        <!-- <a target="_blank" href="http://codepen.io/Moslim/" class="white-mode">OTHER PENS</a> -->
    </div>
    <!-- partial -->

</body>

</html>